.container {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 0.25fr 1fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    background-color: #1992D4;
    font-family: 'Roboto', sans-serif;
    color: white;

}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    background-color: lightslategray;
    font-family: 'Roboto', sans-serif;
    color: black;
}

